.tab-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

mat-form-field {
  width: 100%;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
